@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

:root {
  width: 1920px;
  height: 2470px;
  background: #cbcbc6;
}

body {
  flex-shrink: 0;
  margin: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: lighten;
}

p,
a {
  all: unset;
  font-family: Sora;
  color: #000;
}

.menu {
  display: flex;
  margin-top: 78px;
  margin-left: 86px;
}

.logo {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.logo:hover {
  cursor: pointer;
}

.other-pages {
  margin-left: 57px;
  margin-right: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
  margin-left: 25.5px;
  margin-right: 25.5px;
  font-size: 20px;
  cursor: pointer;
  transition: 100ms;
}

.pages:hover {
  padding: 5px;
  border-style: solid;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 101px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.6px;
}

#title2 {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -1px;
}

#title3 {
  color: #006937;
  font-size: 35px;
  letter-spacing: -0.35px;
  margin-top: 18px;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}

#img1,
#img2,
#img3 {
  width: 550px;
  height: 890px;
  flex-shrink: 0;
  border-radius: 50px;
  position: relative;
}

#img2 {
  margin-left: 38px;
  margin-right: 38px;
}

#pfp1,
#pfp2,
#pfp3 {
  border-radius: 50px;
  margin-top: 37.5px;
  margin-left: 37.5px;
  position: relative;
  z-index: 100;
}

.pfp-bg {
  position: absolute;
  mix-blend-mode: color-burn;
  border-radius: 50px;
  z-index: -1;
  top: 0;
  left: 0;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25.5px;
}

.position {
  color: #18224f;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

.name {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1px;
}

.desc-container {
  width: 1726px;
  height: 860px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #000;
  background: #cbcbc6;
  margin-top: 74px;
}

#team-info1 {
  display: flex;
  width: 1587px;
  flex-direction: column;
  flex-shrink: 0;
  text-align: justify;
  font-size: 35px;
  font-weight: 300;
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left: 70px;
  margin-right: 70px;
}

.wrapper {
  width: 1920px;
  height: 2470px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

#circle1,
#circle2 {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 450px;
  border: 2px solid #18224f;
  position: absolute;
  overflow: hidden;
}

#circle1 {
  top: -147px;
  margin-left: 1454px;
}

#circle2 {
  left: -216px;
  top: 1994px;
  z-index: -1;
}

#circle3,
#circle4 {
  width: 368px;
  height: 368px;
  flex-shrink: 0;
  border-radius: 450px;
  border: 2px solid #006937;
  position: absolute;
  overflow: hidden;
}

#circle3 {
  top: 38px;
  margin-left: 1690px;
}

#circle4 {
  top: 2179px;
  margin-left: 20px;
  z-index: -1;
}
