@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

:root {
  /* width: 1920px;
  height: 2470px; */
  background: #cbcbc6;
  font-size: 7.5px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0rem;
  position: relative;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100%;
}

p,
a {
  all: unset;
  font-family: Sora;
  color: #000;
}

.menu {
  display: flex;
  padding-top: 7.8rem;
  padding-left: 8.6rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.logo:hover {
  cursor: pointer;
}

.other-pages {
  margin-left: 5.7rem;
  margin-right: 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
  margin-left: 2.55rem;
  margin-right: 2.55rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 100ms;
}

.pages:hover {
  padding: 0.5rem;
  border-style: solid;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10.1rem;
  padding-bottom: 13.4rem;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
}

#title2 {
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

#title3 {
  color: #006937;
  font-size: 3.5rem;
  letter-spacing: -0.035rem;
  margin-top: 1.8rem;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4.4rem;
}

.pfp-bg {
  width: 100%;
}

#img1,
#img2,
#img3 {
  width: 47.5rem;
  height: 89rem;
  flex-shrink: 0;
  border-radius: 5rem;
  position: relative;
  padding-top: 3.75rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

#img2 {
  margin-left: 3.8rem;
  margin-right: 3.8rem;
}

.profile-pictures {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5rem;
  /* margin-top: 3.75rem;
  margin-left: 3.75rem;
  margin-right: 3.75rem; */
  position: relative;
  z-index: 100;
}

.pfp-bg {
  position: absolute;
  mix-blend-mode: color-burn;
  border-radius: 5rem;
  z-index: -1;
  top: 0;
  left: 0;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.55rem;
}

.position {
  color: #18224f;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

.name {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
}

.desc-container {
  width: 172.6rem;
  height: 86rem;
  flex-shrink: 0;
  border-radius: 5rem;
  border: 0.1rem solid #000;
  background: #cbcbc6;
  margin-top: 7.4rem;
}

#team-info1 {
  display: flex;
  width: 158.7rem;
  flex-direction: column;
  flex-shrink: 0;
  text-align: justify;
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 5.6rem;
  margin-bottom: 5.6rem;
  margin-left: 7rem;
  margin-right: 7rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
}

#bg-wrapper {
  mix-blend-mode: lighten;
}

#circle1,
#circle2 {
  width: 45rem;
  height: 45rem;
  flex-shrink: 0;
  border-radius: 45rem;
  border: 0.2rem solid #18224f;
  position: absolute;
  overflow: hidden;
}

#circle1 {
  top: -14.7rem;
  margin-left: 145.4rem;
}

#circle2 {
  left: -21.6rem;
  bottom: 2.6rem;
  z-index: -1;
}

#circle3,
#circle4 {
  width: 36.8rem;
  height: 36.8rem;
  flex-shrink: 0;
  border-radius: 45rem;
  border: 0.2rem solid #006937;
  position: absolute;
}

#circle3 {
  top: 3.8rem;
  margin-left: 169rem;
}

#circle4 {
  /* top: 217.9rem; */
  bottom: -7.7rem;
  margin-left: 2rem;
  z-index: -1;
}
