@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

:root {
  /* width: 1920px;
  height: 1080px; */
  background: #cbcbc6;
  font-size: 7.5px;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: exclusion;
  width: 100%;
}

p,
a {
  all: unset;
  font-family: Sora;
  color: #000;
}

body {
  margin: 0rem;
  width: 100%;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 7.8rem;
  padding-bottom: 9rem;
  padding-left: 8.6rem;
  padding-right: 12rem;
}

.menu {
  display: flex;
}

.logo {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.logo:hover {
  cursor: pointer;
}

.other-pages {
  margin-left: 5.7rem;
  margin-right: 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
  margin-left: 2.55rem;
  margin-right: 2.55rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 100ms;
}

.pages:hover {
  padding: 0.5rem;
  border-style: solid;
}

.titles {
  display: flex;
  flex-direction: column;
  margin-top: 18.1rem;
  margin-left: 2rem;
}

#title1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
}

#title2 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 3.6rem;
}

#title3 {
  font-size: 4rem;
  font-weight: 300;
}

.account {
  display: flex;
  align-items: center;
  margin-top: 14.2rem;
  margin-left: 2rem;
}

#acc-proceed-img {
  width: 9.3rem;
  height: 9.3rem;
  flex-shrink: 0;
  padding-right: 2rem;
  cursor: pointer;
}

#acc-proceed-text {
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: 100ms;
}

#acc-proceed-text:hover {
  padding: 0.5rem;
  border-style: solid;
}

#bg-shape {
  width: 91.2rem;
  height: 91.2rem;
  flex-shrink: 0;
  border-radius: 91.2rem;
  background: #18224f;
}

#plane {
  top: 0;
  left: 0;
  position: relative;
  height: 100%;
}

#plane1 {
  width: 43.8957rem;
  height: 48.8683rem;
  flex-shrink: 0;
  position: absolute;
  z-index: 100;
  padding-top: 20.857rem;
  padding-left: 27.919rem;
}

#plane2 {
  width: 62.5rem;
  height: 49.7257rem;
  flex-shrink: 0;
  position: absolute;
  padding-top: 20.6rem;
  padding-left: 9.4rem;
}
